<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApp"
        tools:targetApi="31">
        <activity
            android:name=".collegeNews"
            android:exported="false" />
        <activity
            android:name=".newsShowArea"
            android:label="Article"
            android:parentActivityName=".Home_Screen" /> <!-- Replace with the parent activity -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Home_Screen" /> <!-- Replace with the parent activity -->
        <activity
            android:name=".searchedNews"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splashScreen"
            android:exported="false" />
        <activity
            android:name=".register_page"
            android:exported="false" />
        <activity
            android:name=".logIn"
            android:exported="false" />
        <activity
            android:name=".Home_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>